<a href="https://colab.research.google.com/github/zw2497/Twitter_Stream_Processing/blob/master/PySpark_Structured_Streaming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Java, Spark, and Findspark
This installs Apache Spark 2.4.0, Java 8, and [Findspark](https://github.com/minrk/findspark), a library that makes it easy for Python to find Spark.

In [1]:
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q https://www-us.apache.org/dist/spark/spark-2.4.2/spark-2.4.2-bin-hadoop2.7.tgz
# !tar xf spark-2.4.2-bin-hadoop2.7.tgz
# !pip -q install findspark

# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "./spark-2.4.2-bin-hadoop2.7"

#### Set Environment Variables
Set the locations where Spark and Java are installed.

In [1]:
from pyspark.sql.functions import udf, get_json_object
from pyspark.sql import SparkSession
from textblob import TextBlob
from pyspark.sql.types import IntegerType, FloatType
from pyspark.streaming import StreamingContext
import time
import os
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local --packages org.apache.spark:spark-sql-kafka-0-10_2.12:2.4.2 pyspark-shell"

In [2]:
spark = SparkSession \
    .builder \
    .appName("StructuredNetworkWordCount") \
    .getOrCreate()
spark.sparkContext.setLogLevel('FATAL')

In [3]:
df = spark \
  .readStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "35.243.144.79:9092") \
  .option("subscribe", "tweepyv1") \
  .option("startingOffsets", "latest") \
  .option("failOnDataLoss", "false") \
  .load()

In [4]:
df.createOrReplaceTempView("raw")

In [5]:
df = spark.sql("""select decode(value, 'utf-8') as value, timestamp 
                  from raw""");

In [6]:
def polarity(x):
    blob = TextBlob(x)
    s = []
    for sentence in blob.sentences:
        s.append(sentence.sentiment.polarity)
    return sum(s)/len(s)

sent = udf(polarity, FloatType())

In [7]:
df = df.select('timestamp',\
               get_json_object('value', '$.entities.hashtags[0].text').alias("hashtag"), \
               sent(get_json_object('value', '$.text')).alias("sentiment"))
df = df.filter(df.hashtag.isNotNull())
df.createOrReplaceTempView("datas")

In [8]:
df = spark.sql("""
select distinct hashtag, count(*) as count, avg(sentiment) as sentiment, window(timestamp, "600 seconds", "60 seconds") as key
from datas
group by hashtag, window(timestamp, "600 seconds", "60 seconds")
""")

In [9]:
query = df.writeStream.outputMode("complete").queryName("test").format("memory").option("truncate", "False").start()

In [10]:
query.status

{'message': 'Processing new data',
 'isDataAvailable': True,
 'isTriggerActive': True}

In [13]:
res = spark.table("test").toPandas()

In [14]:
res.sort_values(by='count',ascending=False)

,hashtag,count,sentiment,key
612,nothingisordinary,3,0.100000,"(2019-05-03 05:04:00, 2019-05-03 05:14:00)"
4,nothingisordinary,3,0.100000,"(2019-05-03 05:08:00, 2019-05-03 05:18:00)"
1114,nothingisordinary,3,0.100000,"(2019-05-03 05:05:00, 2019-05-03 05:15:00)"
824,nothingisordinary,3,0.100000,"(2019-05-03 05:10:00, 2019-05-03 05:20:00)"
1492,nothingisordinary,3,0.100000,"(2019-05-03 05:09:00, 2019-05-03 05:19:00)"
1377,nothingisordinary,3,0.100000,"(2019-05-03 05:07:00, 2019-05-03 05:17:00)"
99,nothingisordinary,3,0.100000,"(2019-05-03 05:11:00, 2019-05-03 05:21:00)"
803,nothingisordinary,3,0.100000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
1077,nothingisordinary,3,0.100000,"(2019-05-03 05:06:00, 2019-05-03 05:16:00)"
1129,LTBU,2,0.000000,"(2019-05-03 05:05:00, 2019-05-03 05:15:00)"
866,nothingisordinary,2,0.100000,"(2019-05-03 05:04:00, 2019-05-03 05:14:00)"
1175,StarOnFox,2,0.000000,"(2019-05-03 05:05:00, 2019-05-03 05:15:00)"
156,KCAL9,2,0.000000,"(2019-05-03 05:05:00, 2019-05-03 05:15:00)"
449,stemcells,2,0.100000,"(2019-05-03 05:05:00, 2019-05-03 05:15:00)"
1254,KCAL9,2,0.000000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
1372,stemcells,2,0.100000,"(2019-05-03 05:10:00, 2019-05-03 05:20:00)"
187,StarOnFox,2,0.000000,"(2019-05-03 05:08:00, 2019-05-03 05:18:00)"
636,nothingisordinary,2,0.100000,"(2019-05-03 05:11:00, 2019-05-03 05:21:00)"
487,KCAL9,2,0.000000,"(2019-05-03 05:11:00, 2019-05-03 05:21:00)"
1284,stemcells,2,0.100000,"(2019-05-03 05:04:00, 2019-05-03 05:14:00)"
1054,LTBU,2,0.000000,"(2019-05-03 05:06:00, 2019-05-03 05:16:00)"
637,LTBU,2,0.000000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
686,KCAL9,2,0.000000,"(2019-05-03 05:10:00, 2019-05-03 05:20:00)"
178,HowToNotBeAnAwfulHuman,2,0.000000,"(2019-05-03 05:05:00, 2019-05-03 05:15:00)"
1178,stemcells,2,0.100000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
738,HowToNotBeAnAwfulHuman,2,0.000000,"(2019-05-03 05:08:00, 2019-05-03 05:18:00)"
1197,stemcells,2,0.100000,"(2019-05-03 05:06:00, 2019-05-03 05:16:00)"
1196,nothingisordinary,2,0.100000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
85,LTBU,2,0.000000,"(2019-05-03 05:10:00, 2019-05-03 05:20:00)"
528,StarOnFox,2,0.000000,"(2019-05-03 05:07:00, 2019-05-03 05:17:00)"
...,...,...,...,...
494,jpreads,1,0.100000,"(2019-05-03 05:07:00, 2019-05-03 05:17:00)"
493,WeAreMetro,1,0.263889,"(2019-05-03 05:03:00, 2019-05-03 05:13:00)"
492,sickofbernie,1,0.000000,"(2019-05-03 05:09:00, 2019-05-03 05:19:00)"
491,HowToNotBeAnAwfulHuman,1,0.000000,"(2019-05-03 05:07:00, 2019-05-03 05:17:00)"
490,IMPERFECTLIFE,1,0.500000,"(2019-05-03 05:05:00, 2019-05-03 05:15:00)"
489,PP19000142859,1,0.000000,"(2019-05-03 05:13:00, 2019-05-03 05:23:00)"
508,billingshomes,1,0.063636,"(2019-05-03 05:03:00, 2019-05-03 05:13:00)"
510,photoaday,1,0.000000,"(2019-05-03 05:07:00, 2019-05-03 05:17:00)"
533,SeeWhatIDidThere,1,0.000000,"(2019-05-03 05:07:00, 2019-05-03 05:17:00)"
511,albumreleaseparty,1,0.044286,"(2019-05-03 05:08:00, 2019-05-03 05:18:00)"
532,bearnationbaseball,1,0.133333,"(2019-05-03 05:08:00, 2019-05-03 05:18:00)"
531,ChargingBull,1,0.000000,"(2019-05-03 05:07:00, 2019-05-03 05:17:00)"
530,hgmf19,1,0.000000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
529,HelpBringChristianHome,1,0.233333,"(2019-05-03 05:04:00, 2019-05-03 05:14:00)"
527,blackgirlmagic,1,0.400000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
526,LanaiCity,1,0.000000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
525,blackops4,1,0.000000,"(2019-05-03 05:05:00, 2019-05-03 05:15:00)"
524,largerthanlife,1,0.500000,"(2019-05-03 05:04:00, 2019-05-03 05:14:00)"
523,DEVELOP_E12_ISB,1,-0.125000,"(2019-05-03 05:12:00, 2019-05-03 05:22:00)"
522,healthyliving,1,0.000000,"(2019-05-03 05:09:00, 2019-05-03 05:19:00)"
520,whiteboys,1,0.000000,"(2019-05-03 05:09:00, 2019-05-03 05:19:00)"
519,DeliriousArmy,1,0.250000,"(2019-05-03 05:06:00, 2019-05-03 05:16:00)"
518,earthquake,1,0.000000,"(2019-05-03 05:08:00, 2019-05-03 05:18:00)"
517,stemcells,1,0.100000,"(2019-05-03 05:04:00, 2019-05-03 05:14:00)"
516,girlsgottaeat,1,0.318182,"(2019-05-03 05:10:00, 2019-05-03 05:20:00)"
515,werk,1,0.250000,"(2019-05-03 05:08:00, 2019-05-03 05:18:00)"
514,WeAreMetro,1,0.263889,"(2019-05-03 05:08:00, 2019-05-03 05:18:00)"
513,Idaho,1,0.000000,"(2019-05-03 05:03:00, 2019-05-03 05:13:00)"
512,thefarmhousebrewery,1,0.000000,"(2019-05-03 05:03:00, 2019-05-03 05:13:00)"
1519,panera,1,0.000000,"(2019-05-03 05:11:00, 2019-05-03 05:21:00)"

In [15]:
query.stop()

# Start a SparkSession
This will start a local Spark session.

In [5]:
%%writefile ./app.py
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from textblob import TextBlob
from pyspark.sql.types import IntegerType


spark = SparkSession \
    .builder \
    .appName("StructuredNetworkWordCount") \
    .getOrCreate()
spark.sparkContext.setLogLevel('FATAL')

df = spark \
  .readStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "35.243.144.79:9092") \
  .option("subscribe", "tweepyv1") \
  .option("startingOffsets", "latest") \
  .option("failOnDataLoss", "false") \
  .load()

"""
UDF
"""
def polarity(x):
    blob = TextBlob(x)
    s = []
    for sentence in blob.sentences:
        s.append(sentence.sentiment.polarity)
    return sum(s)/len(s)

"""
type cast
"""
df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)")
print("Streaming: ", df.isStreaming)
print("Start receiving ... ...")
df.createOrReplaceTempView("raw")

"""
decode
"""
df = spark.sql("""select decode(value, 'utf-8') as value, timestamp 
                  from raw""");
df.createGlobalTempView("decode_data")


"""
add sentiment
"""
dfsentiment = spark.sql("""
select polarity(get_json_object(value, '$.text')) as sentiment, value, timestamp
from decode_data
""");

dfsentiment.createGlobalTempView("addsentiment");


# """
# client Application
# """
# dfclient = spark.sql("""select get_json_object(value, '$.source') as key, count(*) as value
#                         from decode
#                         group by get_json_object(value, '$.source')
#                         order by value DESC""");

"""
get hashtag
"""
dfhashtag = spark.sql("""
select get_json_object(value, '$.entities.hashtags[0].text') as hashtag, timestamp, sentiment
from addsentiment 
where length(get_json_object(value, '$.entities.hashtags[0].text')) > 2
""");
dfhashtag.createOrReplaceTempView("tag");


"""
compute window
"""
# dffast = spark.sql("""
# select concat_ws(' ', hashtag, string(count(*)), avg(sentiment)) as value, now() as key
# from tag
# group by window(timestamp, "10 seconds", "5 seconds"), hashtag
# """)

dfslow = spark.sql("""
select concat_ws(' ', hashtag, string(count(*)), avg(sentiment)) as value, now() as key
from tag
group by window(timestamp, "600 seconds", "60 seconds"), hashtag
""")


"""
Write to Console
"""
query1 = dfslow \
    .writeStream \
    .outputMode("update") \
    .format("console") \
    .option("truncate", "False") \
    .option("checkpointLocation", "./logslow") \
    .start()

# query2 = dffast \
#     .writeStream \
#     .outputMode("update") \
#     .format("console") \
#     .option("truncate", "False") \
#     .option("checkpointLocation", "./logfast") \
#     .start()

# query3 = dfclient \
#     .writeStream \
#     .outputMode("complete") \
#     .format("console") \
#     .option("truncate", "False") \
#     .option("checkpointLocation", "./logclient") \
#     .start()

"""
Write to kafka
"""
# query1 = dffast \
#   .selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)") \
#   .writeStream \
#   .format("kafka") \
#   .outputMode("update") \
#   .option("kafka.bootstrap.servers", "35.243.144.79:9092") \
#   .option("topic", "topk1") \
#   .option("checkpointLocation", "./logfast") \
#   .start()

# query2 = dfslow \
#   .selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)") \
#   .writeStream \
#   .format("kafka") \
#   .outputMode("update") \
#   .option("kafka.bootstrap.servers", "35.243.144.79:9092") \
#   .option("topic", "topk1") \
#   .option("checkpointLocation", "./logslow") \
#   .start()

# query3 = dfclient \
#   .selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)") \
#   .writeStream \
#   .format("kafka") \
#   .outputMode("complete") \
#   .option("kafka.bootstrap.servers", "35.243.144.79:9092") \
#   .option("topic", "source") \
#   .option("checkpointLocation", "./logclient") \
#   .start()



query1.awaitTermination()
# query2.awaitTermination()
# query3.awaitTermination()

Overwriting ./app.py

In [6]:
!./spark-2.4.2-bin-hadoop2.7/bin/spark-submit --packages org.apache.spark:spark-sql-kafka-0-10_2.12:2.4.2 app.py

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
:: loading settings :: url = jar:file:/usr/local/spark-2.4.2-bin-hadoop2.7/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml
org.apache.spark#spark-sql-kafka-0-10_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-ef1a3b3f-8f6c-4add-8eaa-401ad719eb6f;1.0
	confs: [default]
	found org.apache.spark#spark-sql-kafka-0-10_2.12;2.4.2 in central
	found org.apache.kafka#kafka-clients;2.0.0 in central
	found org.lz4#lz4-java;1.4.0 in central
	found org.xerial.snappy#snappy-java;1.1.7.3 in central
	found org.slf4j#slf4j-api;1.7.16 in central
	found org.spark-project.spark#unused;1.0.0 in central
:: resolution report :: resolve 361ms :: artifacts dl 8ms
	:: modules in use:
	org.apache.kafka#kafka-clients;2.0.0 from central in [default]
	org.apache.spark#spark-sql-kafka-0-10_2.12;2.4.2 from central in [default]
	org.lz4#lz4-java;1.4.0 from central in [default]
	org.slf4j#slf4j-api;1.7.16 from central in [default]
	org.spark-project.spark#unused;1.0.0 from central in [default]
	org.xerial.snappy#snappy-java;1.1.7.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   6   |   0   |   0   |   0   ||   6   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-ef1a3b3f-8f6c-4add-8eaa-401ad719eb6f
	confs: [default]
	0 artifacts copied, 6 already retrieved (0kB/7ms)
19/05/02 23:43:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
19/05/02 23:43:55 INFO SparkContext: Running Spark version 2.4.2
19/05/02 23:43:55 INFO SparkContext: Submitted application: StructuredNetworkWordCount
19/05/02 23:43:55 INFO SecurityManager: Changing view acls to: jovyan
19/05/02 23:43:55 INFO SecurityManager: Changing modify acls to: jovyan
19/05/02 23:43:55 INFO SecurityManager: Changing view acls groups to:
19/05/02 23:43:55 INFO SecurityManager: Changing modify acls groups to:
19/05/02 23:43:55 INFO SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users  with view permissions: Set(jovyan); groups with view permissions: Set(); users  with modify permissions: Set(jovyan); groups with modify permissions: Set()
19/05/02 23:43:56 INFO Utils: Successfully started service 'sparkDriver' on port 37049.
19/05/02 23:43:56 INFO SparkEnv: Registering MapOutputTracker
19/05/02 23:43:56 INFO SparkEnv: Registering BlockManagerMaster
19/05/02 23:43:56 INFO BlockManagerMasterEndpoint: Using org.apache.spark.storage.DefaultTopologyMapper for getting topology information
19/05/02 23:43:56 INFO BlockManagerMasterEndpoint: BlockManagerMasterEndpoint up
19/05/02 23:43:56 INFO DiskBlockManager: Created local directory at /tmp/blockmgr-19015bd3-4955-400b-aec1-c634b00f36b0
19/05/02 23:43:56 INFO MemoryStore: MemoryStore started with capacity 366.3 MB
19/05/02 23:43:56 INFO SparkEnv: Registering OutputCommitCoordinator
19/05/02 23:43:56 INFO Utils: Successfully started service 'SparkUI' on port 4040.
19/05/02 23:43:56 INFO SparkUI: Bound SparkUI to 0.0.0.0, and started at http://ae83f739724c:4040
19/05/02 23:43:56 INFO SparkContext: Added JAR file:///home/jovyan/.ivy2/jars/org.apache.spark_spark-sql-kafka-0-10_2.12-2.4.2.jar at spark://ae83f739724c:37049/jars/org.apache.spark_spark-sql-kafka-0-10_2.12-2.4.2.jar with timestamp 1556840636717
19/05/02 23:43:56 INFO SparkContext: Added JAR file:///home/jovyan/.ivy2/jars/org.apache.kafka_kafka-clients-2.0.0.jar at spark://ae83f739724c:37049/jars/org.apache.kafka_kafka-clients-2.0.0.jar with timestamp 1556840636718
19/05/02 23:43:56 INFO SparkContext: Added JAR file:///home/jovyan/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar at spark://ae83f739724c:37049/jars/org.spark-project.spark_unused-1.0.0.jar with timestamp 1556840636718
19/05/02 23:43:56 INFO SparkContext: Added JAR file:///home/jovyan/.ivy2/jars/org.lz4_lz4-java-1.4.0.jar at spark://ae83f739724c:37049/jars/org.lz4_lz4-java-1.4.0.jar with timestamp 1556840636718
19/05/02 23:43:56 INFO SparkContext: Added JAR file:///home/jovyan/.ivy2/jars/org.xerial.snappy_snappy-java-1.1.7.3.jar at spark://ae83f739724c:37049/jars/org.xerial.snappy_snappy-java-1.1.7.3.jar with timestamp 1556840636718
19/05/02 23:43:56 INFO SparkContext: Added JAR file:///home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.16.jar at spark://ae83f739724c:37049/jars/org.slf4j_slf4j-api-1.7.16.jar with timestamp 1556840636719
19/05/02 23:43:56 INFO SparkContext: Added file file:///home/jovyan/.ivy2/jars/org.apache.spark_spark-sql-kafka-0-10_2.12-2.4.2.jar at file:///home/jovyan/.ivy2/jars/org.apache.spark_spark-sql-kafka-0-10_2.12-2.4.2.jar with timestamp 1556840636746
19/05/02 23:43:56 INFO Utils: Copying /home/jovyan/.ivy2/jars/org.apache.spark_spark-sql-kafka-0-10_2.12-2.4.2.jar to /tmp/spark-6b8e2fc6-12c9-4b85-a036-7054d00ea43c/userFiles-39c42d84-ae3c-4d7e-8e64-b9ae06b74281/org.apache.spark_spark-sql-kafka-0-10_2.12-2.4.2.jar
19/05/02 23:43:56 INFO SparkContext: Added file file:///home/jovyan/.ivy2/jars/org.apache.kafka_kafka-clients-2.0.0.jar at file:///home/jovyan/.ivy2/jars/org.apache.kafka_kafka-clients-2.0.0.jar with timestamp 1556840636763
19/05/02 23:43:56 INFO Utils: Copying /home/jovyan/.ivy2/jars/org.apache.kafka_kafka-clients-2.0.0.jar to /tmp/spark-6b8e2fc6-12c9-4b85-a036-7054d00ea43c/userFiles-39c42d84-ae3c-4d7e-8e64-b9ae06b74281/org.apache.kafka_kafka-clients-2.0.0.jar
19/05/02 23:43:56 INFO SparkContext: Added file file:///home/jovyan/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar at file:///home/jovyan/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar with timestamp 1556840636782
19/05/02 23:43:56 INFO Utils: Copying /home/jovyan/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar to /tmp/spark-6b8e2fc6-12c9-4b85-a036-7054d00ea43c/userFiles-39c42d84-ae3c-4d7e-8e64-b9ae06b74281/org.spark-project.spark_unused-1.0.0.jar
19/05/02 23:43:56 INFO SparkContext: Added file file:///home/jovyan/.ivy2/jars/org.lz4_lz4-java-1.4.0.jar at file:///home/jovyan/.ivy2/jars/org.lz4_lz4-java-1.4.0.jar with timestamp 1556840636786
19/05/02 23:43:56 INFO Utils: Copying /home/jovyan/.ivy2/jars/org.lz4_lz4-java-1.4.0.jar to /tmp/spark-6b8e2fc6-12c9-4b85-a036-7054d00ea43c/userFiles-39c42d84-ae3c-4d7e-8e64-b9ae06b74281/org.lz4_lz4-java-1.4.0.jar
19/05/02 23:43:56 INFO SparkContext: Added file file:///home/jovyan/.ivy2/jars/org.xerial.snappy_snappy-java-1.1.7.3.jar at file:///home/jovyan/.ivy2/jars/org.xerial.snappy_snappy-java-1.1.7.3.jar with timestamp 1556840636796
19/05/02 23:43:56 INFO Utils: Copying /home/jovyan/.ivy2/jars/org.xerial.snappy_snappy-java-1.1.7.3.jar to /tmp/spark-6b8e2fc6-12c9-4b85-a036-7054d00ea43c/userFiles-39c42d84-ae3c-4d7e-8e64-b9ae06b74281/org.xerial.snappy_snappy-java-1.1.7.3.jar
19/05/02 23:43:56 INFO SparkContext: Added file file:///home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.16.jar at file:///home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.16.jar with timestamp 1556840636804
19/05/02 23:43:56 INFO Utils: Copying /home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.16.jar to /tmp/spark-6b8e2fc6-12c9-4b85-a036-7054d00ea43c/userFiles-39c42d84-ae3c-4d7e-8e64-b9ae06b74281/org.slf4j_slf4j-api-1.7.16.jar
19/05/02 23:43:56 INFO Executor: Starting executor ID driver on host localhost
19/05/02 23:43:57 INFO Utils: Successfully started service 'org.apache.spark.network.netty.NettyBlockTransferService' on port 40065.
19/05/02 23:43:57 INFO NettyBlockTransferService: Server created on ae83f739724c:40065
19/05/02 23:43:57 INFO BlockManager: Using org.apache.spark.storage.RandomBlockReplicationPolicy for block replication policy
19/05/02 23:43:57 INFO BlockManagerMaster: Registering BlockManager BlockManagerId(driver, ae83f739724c, 40065, None)
19/05/02 23:43:57 INFO BlockManagerMasterEndpoint: Registering block manager ae83f739724c:40065 with 366.3 MB RAM, BlockManagerId(driver, ae83f739724c, 40065, None)
19/05/02 23:43:57 INFO BlockManagerMaster: Registered BlockManager BlockManagerId(driver, ae83f739724c, 40065, None)
19/05/02 23:43:57 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, ae83f739724c, 40065, None)
19/05/02 23:43:57 INFO SharedState: Setting hive.metastore.warehouse.dir ('null') to the value of spark.sql.warehouse.dir ('file:/home/jovyan/work/Twitter_Stream_Processing/spark-warehouse/').
19/05/02 23:43:57 INFO SharedState: Warehouse path is 'file:/home/jovyan/work/Twitter_Stream_Processing/spark-warehouse/'.
19/05/02 23:43:58 INFO StateStoreCoordinatorRef: Registered StateStoreCoordinator endpoint
Streaming:  True
Start receiving ... ...
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f27b87e5033, pid=307, tid=0x00007f272c8d9700
#
# JRE version: OpenJDK Runtime Environment (8.0_191-b12) (build 1.8.0_191-8u191-b12-2ubuntu0.18.04.1-b12)
# Java VM: OpenJDK 64-Bit Server VM (25.191-b12 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# j  org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage5.agg_doAggregateWithKeys_0$(Lorg/apache/spark/sql/catalyst/expressions/GeneratedClass$GeneratedIteratorForCodegenStage5;)V+7
#
# Core dump written. Default location: /home/jovyan/work/Twitter_Stream_Processing/core or core.307
#
# An error report file with more information is saved as:
# /home/jovyan/work/Twitter_Stream_Processing/hs_err_pid307.log
[thread 139806282503936 also had an error]
#
# If you would like to submit a bug report, please visit:
#   http://bugreport.java.com/bugreport/crash.jsp
#
Aborted (core dumped)